torch 
torchaudio
torchvision
av
imageio
omegaconf
einops
pytorch_lightning
accelerate
huggingface_hub
kornia
modelscope==1.4.2
open_clip_torch==2.12.0
transformers
tensorboard
jax==0.4.19
jaxlib==0.4.19
timm
rotary-embedding-torch
natsort
jsonargparse
diffusers
IPython
gradio
opencv-python
fairscale
easydict
torchsde
pytest
